In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt   
import seaborn as sns 
import sklearn as sk
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv('resume_dataset.csv')

In [3]:
data

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
164       Testing  Computer Skills: â¢ Proficient in MS office (...
165       Testing  â Willingness to accept the challenges. â ...
166       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
167       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
168       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[169 rows x 2 columns]

In [4]:
data.isnull().sum()

Category    0
Resume      0
dtype: int64

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  169 non-null    object
 1   Resume    169 non-null    object
 2   length    169 non-null    int64
dtypes: int64(1), object(2)
memory usage: 4.1+ KB

In [5]:
data['Resume'][0]

'Skills * Programming Languages: Python (pandas, numpy, scipy, scikit-learn, matplotlib), Sql, Java, JavaScript/JQuery. * Machine learning: Regression, SVM, NaÃ¯ve Bayes, KNN, Random Forest, Decision Trees, Boosting techniques, Cluster Analysis, Word Embedding, Sentiment Analysis, Natural Language processing, Dimensionality reduction, Topic Modelling (LDA, NMF), PCA & Neural Nets. * Database Visualizations: Mysql, SqlServer, Cassandra, Hbase, ElasticSearch D3.js, DC.js, Plotly, kibana, matplotlib, ggplot, Tableau. * Others: Regular Expression, HTML, CSS, Angular 6, Logstash, Kafka, Python Flask, Git, Docker, computer vision - Open CV and understanding of Deep learning.Education Details \r\nData Science Assurance AssociateData Science Assurance Associate - Ernst & Young LLPSkill Details \r\nJAVASCRIPT- Exprience - 24 months\r\njQuery- Exprience - 24 months\r\nPython- Exprience - 24 monthsCompany Details \r\ncompany - Ernst & Young LLP\r\ndescription - Fraud Investigations and Dispute Services   Assurance\r\nTECHNOLOGY ASSISTED REVIEW\r\nTAR (Technology Assisted Review) assists in accelerating the review process and run analytics and generate reports.\r\n* Core member of a team helped in developing automated review platform tool from scratch for assisting E discovery domain, this tool implements predictive coding and topic modelling by automating reviews, resulting in reduced labor costs and time spent during the lawyers review.\r\n* Understand the end to end flow of the solution, doing research and development for classification models, predictive analysis and mining of the information present in text data. Worked on analyzing the outputs and precision monitoring for the entire tool.\r\n* TAR assists in predictive coding, topic modelling from the evidence by following EY standards. Developed the classifier models in order to identify "red flags" and fraud-related issues.\r\n\r\nTools & Technologies: Python, scikit-learn, tfidf, word2vec, doc2vec, cosine similarity, NaÃ¯ve Bayes, LDA, NMF for topic modelling, Vader and text blob for sentiment analysis. Matplot lib, Tableau dashboard for reporting.\r\n\r\nMULTIPLE DATA SCIENCE AND ANALYTIC PROJECTS (USA CLIENTS)\r\nTEXT ANALYTICS - MOTOR VEHICLE CUSTOMER REVIEW DATA * Received customer feedback survey data for past one year. Performed sentiment (Positive, Negative & Neutral) and time series analysis on customer comments across all 4 categories.\r\n* Created heat map of terms by survey category based on frequency of words * Extracted Positive and Negative words across all the Survey categories and plotted Word cloud.\r\n* Created customized tableau dashboards for effective reporting and visualizations.\r\nCHATBOT * Developed a user friendly chatbot for one of our Products which handle simple questions about hours of operation, reservation options and so on.\r\n* This chat bot serves entire product related questions. Giving overview of tool via QA platform and also give recommendation responses so that user question to build chain of relevant answer.\r\n* This too has intelligence to build the pipeline of questions as per user requirement and asks the relevant /recommended questions.\r\n\r\nTools & Technologies: Python, Natural language processing, NLTK, spacy, topic modelling, Sentiment analysis, Word Embedding, scikit-learn, JavaScript/JQuery, SqlServer\r\n\r\nINFORMATION GOVERNANCE\r\nOrganizations to make informed decisions about all of the information they store. The integrated Information Governance portfolio synthesizes intelligence across unstructured data sources and facilitates action to ensure organizations are best positioned to counter information risk.\r\n* Scan data from multiple sources of formats and parse different file formats, extract Meta data information, push results for indexing elastic search and created customized, interactive dashboards using kibana.\r\n* Preforming ROT Analysis on the data which give information of data which helps identify content that is either Redundant, Outdated, or Trivial.\r\n* Preforming full-text search analysis on elastic search with predefined methods which can tag as (PII) personally identifiable information (social security numbers, addresses, names, etc.) which frequently targeted during cyber-attacks.\r\nTools & Technologies: Python, Flask, Elastic Search, Kibana\r\n\r\nFRAUD ANALYTIC PLATFORM\r\nFraud Analytics and investigative platform to review all red flag cases.\r\nâ\x80¢ FAP is a Fraud Analytics and investigative platform with inbuilt case manager and suite of Analytics for various ERP systems.\r\n* It can be used by clients to interrogate their Accounting systems for identifying the anomalies which can be indicators of fraud by running advanced analytics\r\nTools & Technologies: HTML, JavaScript, SqlServer, JQuery, CSS, Bootstrap, Node.js, D3.js, DC.js'

In [6]:
#stemmimg
from nltk.stem.porter import PorterStemmer

In [7]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [8]:
data['Resume'] = data['Resume'].apply(stem_words)

In [9]:
data.head()

       Category                                             Resume
0  Data Science  skill * program languages: python (pandas, num...
1  Data Science  educ detail may 2013 to may 2017 b.e uit-rgpvd...
2  Data Science  area of interest deep learning, control system...
3  Data Science  skill â¢ r â¢ python â¢ sap hana â¢ tablea...
4  Data Science  educ detail mca ymcaust, faridabad, haryanadat...

In [10]:
data['length'] = data['Resume'].apply(len)

In [11]:
data

         Category                                             Resume  length
0    Data Science  skill * program languages: python (pandas, num...    4224
1    Data Science  educ detail may 2013 to may 2017 b.e uit-rgpvd...    1072
2    Data Science  area of interest deep learning, control system...    1695
3    Data Science  skill â¢ r â¢ python â¢ sap hana â¢ tablea...    6126
4    Data Science  educ detail mca ymcaust, faridabad, haryanadat...     398
..            ...                                                ...     ...
164       Testing  comput skills: â¢ profici in ms offic (word, ...    1845
165       Testing  â willing to accept the challenges. â posi...    2021
166       Testing  person skill â¢ quick learner, â¢ eager to l...    2794
167       Testing  comput skill & softwar knowledg ms-power point...     676
168       Testing  skill set os window xp/7/8/8.1/10 databas mysq...    1523

[169 rows x 3 columns]

In [12]:
data['Resume'] = data['Resume'].str.lower()

In [13]:
data

         Category                                             Resume  length
0    Data Science  skill * program languages: python (pandas, num...    4224
1    Data Science  educ detail may 2013 to may 2017 b.e uit-rgpvd...    1072
2    Data Science  area of interest deep learning, control system...    1695
3    Data Science  skill â¢ r â¢ python â¢ sap hana â¢ tablea...    6126
4    Data Science  educ detail mca ymcaust, faridabad, haryanadat...     398
..            ...                                                ...     ...
164       Testing  comput skills: â¢ profici in ms offic (word, ...    1845
165       Testing  â willing to accept the challenges. â posi...    2021
166       Testing  person skill â¢ quick learner, â¢ eager to l...    2794
167       Testing  comput skill & softwar knowledg ms-power point...     676
168       Testing  skill set os window xp/7/8/8.1/10 databas mysq...    1523

[169 rows x 3 columns]

In [14]:
import re

In [15]:
def clean_text(text):
    # Remove special characters, symbols, and HTML tags using regex
    cleaned_text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    
    return cleaned_text

In [16]:
data['Resume'] = data['Resume'].apply(clean_text)

In [17]:
data

         Category                                             Resume  length
0    Data Science  skill  program languages python pandas numpy s...    4224
1    Data Science  educ detail may 2013 to may 2017 be uitrgpvdat...    1072
2    Data Science  area of interest deep learning control system ...    1695
3    Data Science  skill  r  python  sap hana  tableau  sap hana ...    6126
4    Data Science  educ detail mca ymcaust faridabad haryanadata ...     398
..            ...                                                ...     ...
164       Testing  comput skills  profici in ms offic word basic ...    1845
165       Testing   willing to accept the challenges  posit think...    2021
166       Testing  person skill  quick learner  eager to learn ne...    2794
167       Testing  comput skill  softwar knowledg mspower point m...     676
168       Testing  skill set os window xp788110 databas mysql sql...    1523

[169 rows x 3 columns]

In [23]:
data['Category'].value_counts()

Category
Java Developer               14
Database                     11
HR                           11
Data Science                 10
Advocate                     10
DotNet Developer              7
Hadoop                        7
DevOps Engineer               7
Automation Testing            7
Testing                       7
Civil Engineer                6
Business Analyst              6
SAP Developer                 6
Health and fitness            6
Python Developer              6
Arts                          6
Electrical Engineering        5
Sales                         5
Network Security Engineer     5
Mechanical Engineer           5
Web Designing                 5
ETL Developer                 5
Blockchain                    5
Operations Manager            4
PMO                           3
Name: count, dtype: int64

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
from sklearn.preprocessing import LabelEncoder
en = LabelEncoder()

In [27]:
data['Category'] = en.fit_transform(data['Category'])

In [28]:
data.head()

   Category                                             Resume  length
0         6  skill  program languages python pandas numpy s...    4224
1         6  educ detail may 2013 to may 2017 be uitrgpvdat...    1072
2         6  area of interest deep learning control system ...    1695
3         6  skill  r  python  sap hana  tableau  sap hana ...    6126
4         6  educ detail mca ymcaust faridabad haryanadata ...     398

In [29]:
vect = TfidfVectorizer(stop_words='english')

In [30]:
x = data['Resume']
y = data['Category']

In [31]:
x = vect.fit_transform(x)

In [32]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [33]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()

In [36]:
reg.fit(x_train,y_train)

LogisticRegression()

In [37]:
reg.score(x_test,y_test)

0.4117647058823529

In [38]:
y_pred = reg.predict(x_test)
y_pred

array([13,  0, 17,  0, 15, 15, 15, 15,  7,  5, 15, 15,  7, 15, 15, 21,  0,
        6, 15, 15, 15, 12, 15, 15, 15,  6, 15, 15, 15, 14,  8, 15, 15, 15])

In [39]:
from sklearn.metrics import accuracy_score

In [40]:
accuracy = accuracy_score(y_pred,y_test)
accuracy

0.4117647058823529

In [41]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
rf = RandomForestClassifier()
rf.fit(x_train,y_train)

RandomForestClassifier()

In [43]:
y_pred5 = rf.predict(x_test)
score = accuracy_score(y_test, y_pred5)
score

0.5882352941176471

In [44]:
rf.score(x_test,y_test)

0.5882352941176471

In [48]:
input =['''Skills * Programming Languages: Python (pandas, numpy, scipy, scikit-learn, matplotlib), Sql, Java, JavaScript/JQuery. * Machine learning: Regression, SVM, NaÃ¯ve Bayes, KNN, Random Forest, Decision Trees, Boosting techniques, Cluster Analysis, Word Embedding, Sentiment Analysis, Natural Language processing, Dimensionality reduction, Topic Modelling (LDA, NMF), PCA & Neural Nets. * Database Visualizations: Mysql, SqlServer, Cassandra, Hbase, ElasticSearch D3.js, DC.js, Plotly, kibana, matplotlib, ggplot, Tableau. * Others: Regular Expression, HTML, CSS, Angular 6, Logstash, Kafka, Python Flask, Git, Docker, computer vision - Open CV and understanding of Deep learning.Education Details \r\nData Science Assurance AssociateData Science Assurance Associate - Ernst & Young LLPSkill Details \r\nJAVASCRIPT- Exprience - 24 months\r\njQuery- Exprience - 24 months\r\nPython- Exprience - 24 monthsCompany Details \r\ncompany - Ernst & Young LLP\r\ndescription - Fraud Investigations and Dispute Services   Assurance\r\nTECHNOLOGY ASSISTED REVIEW\r\nTAR (Technology Assisted Review) assists in accelerating the review process and run analytics and generate reports.\r\n* Core member of a team helped in developing automated review platform tool from scratch for assisting E discovery domain, this tool implements predictive coding and topic modelling by automating reviews, resulting in reduced labor costs and time spent during the lawyers review.\r\n* Understand the end to end flow of the solution, doing research and development for classification models, predictive analysis and mining of the information present in text data. Worked on analyzing the outputs and precision monitoring for the entire tool.\r\n* TAR assists in predictive coding, topic modelling from the evidence by following EY standards. Developed the classifier models in order to identify "red flags" and fraud-related issues.\r\n\r\nTools & Technologies: Python, scikit-learn, tfidf, word2vec, doc2vec, cosine similarity, NaÃ¯ve Bayes, LDA, NMF for topic modelling, Vader and text blob for sentiment analysis. Matplot lib, Tableau dashboard for reporting.\r\n\r\nMULTIPLE DATA SCIENCE AND ANALYTIC PROJECTS (USA CLIENTS)\r\nTEXT ANALYTICS - MOTOR VEHICLE CUSTOMER REVIEW DATA * Received customer feedback survey data for past one year. Performed sentiment (Positive, Negative & Neutral) and time series analysis on customer comments across all 4 categories.\r\n* Created heat map of terms by survey category based on frequency of words * Extracted Positive and Negative words across all the Survey categories and plotted Word cloud.\r\n* Created customized tableau dashboards for effective reporting and visualizations.\r\nCHATBOT * Developed a user friendly chatbot for one of our Products which handle simple questions about hours of operation, reservation options and so on.\r\n* This chat bot serves entire product related questions. Giving overview of tool via QA platform and also give recommendation responses so that user question to build chain of relevant answer.\r\n* This too has intelligence to build the pipeline of questions as per user requirement and asks the relevant /recommended questions.\r\n\r\nTools & Technologies: Python, Natural language processing, NLTK, spacy, topic modelling, Sentiment analysis, Word Embedding, scikit-learn, JavaScript/JQuery, SqlServer\r\n\r\nINFORMATION GOVERNANCE\r\nOrganizations to make informed decisions about all of the information they store. The integrated Information Governance portfolio synthesizes intelligence across unstructured data sources and facilitates action to ensure organizations are best positioned to counter information risk.\r\n* Scan data from multiple sources of formats and parse different file formats, extract Meta data information, push results for indexing elastic search and created customized, interactive dashboards using kibana.\r\n* Preforming ROT Analysis on the data which give information of data which helps identify content that is either Redundant, Outdated, or Trivial.\r\n* Preforming full-text search analysis on elastic search with predefined methods which can tag as (PII) personally identifiable information (social security numbers, addresses, names, etc.) which frequently targeted during cyber-attacks.\r\nTools & Technologies: Python, Flask, Elastic Search, Kibana\r\n\r\nFRAUD ANALYTIC PLATFORM\r\nFraud Analytics and investigative platform to review all red flag cases.\r\nâ\x80¢ FAP is a Fraud Analytics and investigative platform with inbuilt case manager and suite of Analytics for various ERP systems.\r\n* It can be used by clients to interrogate their Accounting systems for identifying the anomalies which can be indicators of fraud by running advanced analytics\r\nTools & Technologies: HTML, JavaScript, SqlServer, JQuery, CSS, Bootstrap, Node.js, D3.js, DC.js'
#stemmimg
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])
data['Resume'] = data['Resume'].apply(stem_words)
data.head()
Category	Resume
0	Data Science	skill * program languages: python (pandas, num...
1	Data Science	educ detail may 2013 to may 2017 b.e uit-rgpvd...
2	Data Science	area of in ''']

In [49]:
input_feature = vect.transform(input)

In [50]:
prediction = rf.predict(input_feature)

In [51]:
prediction

array([6])